<h1><%= @sub.title %></h1>
<%= @sub.description %>
<br>
<% @sub.posts.each do |post| %>
  <p>
  <a href="<%= post_url(post) %>"><%= post.title %></a>
  <br>
  <a href="<%= edit_post_url(post) %>">Edit Post</a>
  </p>
<% end %>